<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Everyone wants to build their dream house that looks beautiful and lasts long. A house is built with raw materials but people, emotions and memories make it a home. A true loving home.</p>
                <p class="text-faded">Our cement blocks adds to the glory of your home by standing strong through any weather. It blocks the scorching heat and freezing cold, helps keep your room in ideal temperature so you can enjoy home more. </p>
                <a target="_blank" href="https://wa.me/8453357400?text=Hello,%20I%20saw%20your%20website%20and%20want%20to%20inquire%20about%20your%20product" class="btn btn-default btn-xl">Get started</a>
            </div>
        </div>
    </div>
</section>
