<header>
  <div class="header-container">
    <div class="header-content">
      <div class="header-content-inner">
        <h1>Sustainable and affordable housing</h1>
        <hr />
        <p>
          Build your dream house with solid cement concrete blocks from Yoho
          Hamro Chino pvt ltd. These blocks are much stronger, environment
          friedlier than traditional red bricks. And they are also lighter on
          your pocket. It saves on cement joins required, man power required and
          most importantly brings down time for construction.
        </p>
        <a
          target="_blank"
          href="https://wa.me/8453357400?text=Hello,%20I%20saw%20your%20website%20and%20want%20to%20inquire%20about%20your%20product"
          class="btn btn-primary btn-xl page-scroll"
          >Find out more</a
        >
      </div>
    </div>
  </div>
</header>
